<!DOCTYPE html>
{% load static %}
{% load leaflet_tags %}
<html lang="en">
<head>
  {% block e_tags %}{% endblock e_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>DripLoc | {% block title %}{% endblock title %}</title>
</head>
<body>
    
    {% block body %}
        
    {% endblock body %}
  
  {% block script %}

  {% endblock script %}

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/dist/leaflet.ajax.min.js' %}"></script>

</body>
</html>